extends layout

block content
    .col-md-12.hidden-xs
      table.table.table-striped.responcive
        thead
          tr
        tbody
          tr
            td        
              img(class='img-responsive' src='images/socialcare.jpg' class='img-rounded')
            td 
              img(class='img-responsive' src='images/buurtactiviteiten.jpg' class='img-rounded')
          tr
            td 
             img(class='img-responsive' src='images/velehandjes.jpg' class='img-rounded')
            td 
             img(class='img-responsive' src='images/levenu.jpg' class='img-rounded')
        
   
    .col-md-4.visible-xs
      h2 Mobile versie
      p 
      p
    .col-md-4.visible-xs
      p 
       img(class='img-responsive' src='images/buurtactiviteiten.jpg' class='img-rounded')
      p
        a.btn.btn-block(href='http://azure.microsoft.com') kijk in de buurt &raquo;
    .col-md-4.visible-xs
      p 
       img(class='img-responsive' src='images/velehandjes.jpg' class='img-rounded')
      p
        a.btn.btn-block(href='http://azure.microsoft.com') Kan jij helpen? &raquo;