extends layout

block content
    .jumbotron 
      p.lead
        img(class='img-responsive' src='images/levenu.jpg' class='img-rounded' alt='Cinque Terre' )
      p
    .col-md-4
     p.lead
     p
        a.btn.btn-lg.btn-danger.responcive.btn-block(href='http://www.foxbear.nl') Zorg &raquo;   
     p
    .col-md-4    
     p.lead
     p
       a.btn.btn-lg.btn-default.responcive.btn-block(href='http://www.foxbear.nl') Buurthuis &raquo;
     p
    .col-md-4
      p.lead
      p
       a.btn.btn-lg.btn-success.responcive.btn-block(href='http://www.foxbear.nl') Levenu &raquo;
      p